@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open Sans;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
   margin: 0;
   padding: 0;
   font-family: Open Sans, sans-serif;
   min-width: 320px;

}

a {
  text-decoration: none;
}

.header {
  display: block;
  box-sizing: border-box;
  background-image: url("../img/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0a0e34;
  background-size: cover;
  position: relative;
  height: 100vmax;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  display: block;
  position: relative;
  z-index: 2;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

.container_header {
  padding-top: calc((100vmax - 235px) * 0.08);
  /*width: 87.5%;*/

}

.logo {
  text-align: center;
}

.logo_header {
  margin-bottom: calc((100vmax - 235px) * 0.4);
  /*margin-top: calc((100vmax - 235px) * 0.1);*/
}

.logo_surface {
  fill: #ffffff;
  width: 140px;
}

.title-tagline {
  font-size: 28px;
 letter-spacing: 1px;
 color: #ffffff;
 text-transform: uppercase;
 font-weight: 700;
  /*margin-bottom: 17px;*/
}

.title-call {
  margin-top: 15px;
  display: flex;
  padding-left: 17%;
  justify-content: flex-end;
}


.btn_app {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: #5e42b0;
  border-radius: 17px;
}

.btn_app:first-child {
  margin-bottom: 13px;
}
.app_svg {
  margin-right: 10px;
  margin-left: 30%;
}
.logo_app {
  fill: #ffffff;
  width: 22px;
  height: 24px;
}
.apple_download {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color:  #ffffff;
  font-size: 8px;
  letter-spacing: 0px;
}

.app_download_get {
  font-weight: 400;
}
.app_download_store {
  font-weight: 700;
}

.download_header {
  margin-top: calc((100vmax - 235px) * 0.25);

}

.content {
 /* padding-left: 6.25%;
  padding-right: 6.25%;*/
}

.athlets {
  position:relative;
  padding-top: 15px;
}

.section_name {
padding-left: 6.25%;
padding-right: 6.25%;
text-transform: uppercase;
font-size: 50px;
color: #e7e7e7;
font-weight: 700;
margin: 0;
padding-bottom: 240px;

}
.section_athlets {
 /*position: relative;*/
}
.footballer {
  position: absolute;
  top: 80px;
  right: calc(50% - 90px);
}
.athlets_article_connection {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #fafafa;
}

.article_title {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.article_header {
  font-size: 23px;
letter-spacing: 1px;

color: #c1c1c1;
font-weight: 700;
text-transform: uppercase;
margin: 0;
padding: 0;

}

.number_article {
 font-size: 14px;
 letter-spacing: 1px;
 font-weight: 700;
 color: #000000;

 margin-right: 10px;
}

.number_article::after {
   content: "";
   width: 17px;
   height: 4px;
   border-radius: 1px;
   background-color: #5e42b0;
   display: block;
  
}
.article_text {  
  font-size: 15px;
 letter-spacing: 1px;
 font-weight: 400;
 color: #000000;
}

.athlets_article_collaboration {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 60px;
  padding-bottom: 55px;
  background-color: #f5f4f9;

}

.athlets_article_growth {
  background-color: #5e42b0;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 60px;
  padding-bottom: 55px;
}
.number_article_growth {
  font-size: 14px;
 letter-spacing: 1px;
 font-weight: 700;
 color: #000000;

 margin-right: 10px;
}

.number_article_growth::after {
   content: "";
   width: 17px;
   height: 4px;
   border-radius: 1px;
   background-color: #ffffff;
   display: block;
}

.players {
  position: relative;
}
.basketballer {
  position: absolute;
  top: 80px;
  right: calc(50% - 151px);
}

.article_text_growth {
  color: #ffffff;
}
.number_player_growth {
  color: #8765dd;;
}
.players_article {
  background-color: #090c35;
}

.active {
  box-sizing: border-box;
 display: flex;
 flex-wrap: wrap;

}

.img_active {
  display: block;
  max-width: 100%;

}
.section_article {
  position: relative;
}
.section_active_number {
  width: 70px;
height: 70px;
background-color: #5e42b0;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: -60px;
left: 6.5%;
}

.active_number {
  font-size: 14px;
letter-spacing: 1px;
color: #f5f6f7;
font-weight: 700;

}

.active_number::after {
   content: "";
   width: 16px;
   height: 4px;
   border-radius: 1px;   
   background-color: #ffffff;
   opacity: 0.3;
   display: block;
}
.section_article {
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
.section_header {
font-size: 28px;
letter-spacing: 1px;
color: #e7e7e7;
font-weight: 700;
margin-top: 0px;
margin-bottom: 20px;
text-transform: uppercase;
}

.section_text {
font-size: 16px;
letter-spacing: 1px;
line-height: 20px;
color: #000000;
font-weight: 400;
margin: 0;
}

.footer {
  display: block;
  box-sizing: border-box;
  background-image: url("../img/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0a0e34;
  background-size: cover;
  position: relative;
  height: 100vmax;
}

.footer::after {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container_footer {
  padding-top: calc((100vmax - 250px) * 0.3);
  width: 90%;
}
.img_logo_surface {
  fill: #ffffff;
  width: 60px;
  height: 45px;
  margin-top: 15px;
  margin-left: 8px;
  /*margin-right: auto;*/


}
.img_logo {
  width: 75px;
  height: 75px;
  background-color: #7151ce;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc((100vmax - 250px) * 0.18);
  /*margin-top: 100px;*/ /*__vmax*/
}

.footer_header {
  font-size: 32px;
letter-spacing: 1px;
color: #ffffff;
text-transform: uppercase;
font-weight: 700;
margin: 0;
padding: 0;
text-align: center;

}

.footer_text {
  font-size: 14px;
letter-spacing: 1px;
color: #9b8ec1;
text-transform: uppercase;
font-weight: 400;
text-align: center;
margin: 0;
padding: 0;
}
.download_footer {
  margin-top: calc((100vmax - 250px) * 0.22);
  margin-bottom: calc((100vmax - 250px) * 0.23);
}

@media (min-width: 320px) and (max-width: 465px){
  .title-tagline {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
}







@media (min-width: 641px) and (max-width: 960px) {

.header {
  background-image: url("../img/football_1280.jpg");
}

.logo_surface {
  width: 210px;
}
.logo {
  text-align: center;
}

.title-tagline {
  font-size: 64px;
 letter-spacing: 3px;
 line-height: 75px;
  margin: 0;
  padding: 0;
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.title-call {
  display: flex;
  padding-left: 18%;
  justify-content: flex-end;
}

.download_header , .download_footer {
  display: flex;
  justify-content: space-between;
}

.btn_app{
  width: 47.7%;
  height: 76px;
  border-radius: 38px;
  justify-content: center;
}
.btn_app:first-child {
  margin-bottom: 0;
}
.app_svg {
  margin-right: 30px;
  margin-left: 0px;
  
}
.logo_app {
  fill: #ffffff;
  width: 45px;
  height: 45px;
}
.apple_download {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color:  #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
}

.app_download_get {
  font-weight: 300;
}
.app_download_store {
  font-weight: 700;
}

.download_header {
  margin-top: 0; /*calc((100vmax - 235px) * 0.25);*/
} 
.container_header {
  padding-top: calc((100vmax - 360px) * 0.058);
  
}

.logo_header {
  margin-bottom: calc((100vmax - 360px) * 0.29);
  /*margin-top: calc((100vmax - 235px) * 0.1);*/
}
.download_header {
  margin-top: calc((100vmax - 360px) * 0.5);
}
.athlets, .players {
  padding-top: 83px;
}
.footballer {
  top: 90px;
  right: 57%;
  }

.section_name {
  margin: 0;
padding: 0;
padding-right: 4.3%;
padding-left: 38%;
font-size: 80px;
line-height: 60px;
color: #e7e7e7;
font-weight: 700;
margin-bottom: 0.6em;
}


.athlets_article_connection {
  padding-left: 38%;
  padding-right: 4.3%;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.article_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article_header {
  font-size: 32px;
letter-spacing: 2px;
color: #c1c1c1;
font-weight: 700;
margin: 0;
padding: 0;

}

.number_article {
 font-size: 18px;
 letter-spacing: 1px;
 font-weight: 700;
 color: #000000;
 margin-right: 10px;
}

.number_article::after {
   width: 21px;
   height: 5px;
   border-radius: 2px;
   background-color: #5e42b0;
   display: block;
  
}
.article_text {
  margin-right: 0;
  margin-left: 0;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
}

.athlets_article_collaboration {
  padding-left: 38%;
  padding-right: 4.3%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4f9;
}

.athlets_article_growth {
  background-color: #5e42b0;
  padding-left: 38%;
  padding-right: 4.3%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.number_article_growth {
 font-size: 18px;
 letter-spacing: 1px;
 font-weight: 700;
 color: #000000;
 margin-right: 10px;
}

.number_article_growth::after {
   width: 21px;
   height: 5px;
   border-radius: 2px;
   background-color: #ffffff;
}

.article_text_growth {
  color: #ffffff;
}

.section_players , .players_article_connection , .players_article_collaboration , .players_article {
  padding-left: 4.3%;
  padding-right: 40%;
}
.players_article {
  background-color: #090c35;
}
.number_player_growth {
  color: #8765dd;
}
.basketballer {
  top: 45px;
  right: 0px;

}


.section_active_number {
  width: 116px;
  height: 116px;
  top: -80px;
  left: 4.3%;
}

.active_number {
  font-size: 24px;
}

.active_number::after {
   width: 28px;
   height: 5px;
   border-radius: 2px;
}

.section_article {
  padding-top: 90px;
  padding-bottom: 100px;
  padding-left: 4.3%;
  padding-right: 4.3%;
}
.section_header {
  font-size: 80px;
  line-height: 60px;
  color: #c1c1c1;
  opacity: 0.4;
  letter-spacing: 0px;
  margin-bottom: 35px;
}

.section_text {
  font-size: 24px;
  line-height: 28px;

}


.footer {
  background-image: url("../img/game_1280.jpg");
 }

.container_footer {
  padding-top: calc((100vmax - 420px) * 0.23);
  width: 94%;
}
.img_logo_surface {
  width: 100px;
  height: 90px;
  margin-top: 25px;
  margin-left: 12px;
  /*margin-right: auto;*/


}
.img_logo {
  width: 130px;
  height: 136px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc((100vmax - 420px) * 0.14);
  /*margin-top: 100px;*/ /*__vmax*/
}

.footer_header {
  font-size: 60px;
 letter-spacing: 4px;
  line-height: 60px;
}

.footer_text {
  font-size: 27px;
line-height: 60px;
letter-spacing: 0px;
color: #a496ca;

}
.download_footer {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: calc((100vmax - 420px) * 0.51);
  margin-bottom: calc((100vmax - 420px) * 0.082);
}


}

@media (min-width: 761px) and (max-width: 960px){
  .footer_header {
  font-size: 80px;
 letter-spacing: 4px;
  line-height: 80px;
}

.footer_text {
  font-size: 36px;
line-height: 60px;
letter-spacing: 0px;
}

}



@media (min-width: 961px) {

.header {
  background-image: url("../img/football_1920.jpg");
  height: auto;
}

.container {
  width: 80%;
  max-width: 1532px;
  margin-left: auto;
  margin-right: auto;
}

.container_header {
  padding-top: 40px;
}
  
.logo_surface {
  width: 194px;
}

.title-tagline {
 font-size: 60px;
letter-spacing: 3px;
line-height: 60px;
margin: 0;
}

.title-call { 
  display: flex;
  padding-left: 2%;
  justify-content: flex-end;

}

.download_header , .download_footer {
  display: flex;
  justify-content: center;
}

.logo_app {
  fill: #ffffff;
  width: 40px;
  height: 40px;
}

.apple_download {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 1px;
}

.btn_app{
  width: 260px;
  height: 70px;
  border-radius: 35px;
  justify-content: center;
}
.btn_app:first-child {
  margin-bottom: 0;
}
.app_svg {
  margin-right: 20px;
  margin-left: 0px;
}
.google_svg {
  margin-left: 0px;
}

.btn_app:nth-child(2n) {
  margin-left: 3.2%;
}


.download_header {
  margin-top: 220px;
}

.container_header {
  padding-top: 40px;
  padding-bottom: 110px;
  
}

.logo_header {
  margin-bottom: 290px;
}

.content {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.athlets, .players {
  padding-top: 110px;
}
.footballer {
  top: 20px;
  right: 50%;
  }


.section_name {
  margin: 0;
padding: 0;
padding-right: 10.2%;
padding-left: 52.5%;
font-size: 60px;
line-height: 60px;
margin-bottom: 100px;
}


.athlets_article_connection {
  padding-left: 52.5%;
  padding-right: 10.2%;
  padding-top: 0px;
  padding-bottom: 55px;
  background-color: #ffffff;
}

.article_header {
  font-size: 36px;
letter-spacing: 2px;
color: #c1c1c1;
font-weight: 700;
margin: 0;
padding: 0;

}

.number_article {
 font-size: 18px;
 letter-spacing: 1px;
 font-weight: 700;
 color: #000000;
 margin-right: 10px;
}

.number_article::after {
   width: 21px;
   height: 5px;
   border-radius: 2px;
   background-color: #5e42b0;
  
}
.article_text {
  margin-right: 0;
  margin-left: 0;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px;
  font-weight: 400;
  color: #000000;
}

.athlets_article_collaboration , .athlets_article_growth {
  padding-left: 52.5%;
  padding-right: 10.2%;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #f5f4f9;
}

.athlets_article_growth {
  background-color: #5e42b0;
}

.number_article_growth {
 font-size: 18px;
 letter-spacing: 1px;
 font-weight: 700;
 color: #000000;
 margin-right: 10px;
}

.number_article_growth::after {
   width: 21px;
   height: 5px;
   border-radius: 2px;
   background-color: #ffffff;
}

.article_text_growth {
  color: #ffffff;
}

.section_players , .players_article_connection , .players_article_collaboration , .players_article {
  padding-left: 10%;
  padding-right: 50.6%;
}
.players_article {
  background-color: #090c35;
}
.number_player_growth {
  color: #8765dd;
}
.basketballer {
  top: 20px;
  right: 0;
  left: calc(50% - 100px);
   overflow: hidden;
}

.section_active , .section_work , .section_contact {
 display: flex;
 max-width: 1920px;
 margin: 0 auto;
 align-items: center;
}
.active {
  width: 50%;
}

.section_article {
  box-sizing:border-box;
  width: 50%;
  padding: 0;
  padding-left: 6%;
  padding-right: 9%;
}
.section_article_contact {
  padding-right: 6%;
  padding-left: 9%;
}

.section_article_contact {
  order: -1;
}
.section_active_number {
  width: 100px;
  height: 100px;
  /*padding-top: calc(8.5% - 7px);
  padding-bottom: calc(8.5% - 1px);*/

  top: -30px;
  left: -50px;
}
.section_article_contact > .section_active_number {
  left: calc(100% - 50px);
}

.active_number {
  font-size: 20px;
}

.active_number::after {
   width: 24px;
   height: 5px;
   border-radius: 2px;
}


.section_header {
  padding:0;
  font-size: 40px;
  line-height: 40px;
  color: #c1c1c1;
  opacity: 0.4;
  letter-spacing: 0px;
  margin-bottom: 10%;
  
}

.section_text {
  padding:0;
  font-size: 20px;
  line-height: 24px;
}

.section_article_contact > .section_header{
  margin-bottom: 6%;
}

.footer {
  background-image: url("../img/game_1920.jpg");
  height: auto;
}

.container_footer {
  padding-top: 230px;
  width: 90%;
  padding-bottom: 50px;
}
.img_logo_surface {
  fill: #ffffff;
  width: 75px;
  height: 62px;
  margin-top: 17px;
  margin-left: 8px;
}

.img_logo {
  width: 95px;
  height: 95px;
  border-radius: 18px;
  margin: 0;
  margin-right: 25px;
}

.footer_main {
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer_header {
  font-size: 60px;
letter-spacing: 2px;
line-height: 60px;
margin: 0;
}

.footer_text {
 font-size: 27px;
line-height: 30px;
color: #a496ca;
margin: 0;
text-align: start;

}
.download_footer {
  margin-top: 145px;
  margin-bottom: 255px;
}

}








@media (min-width: 1400px) {

  .title-tagline {
  font-size: 90px;
  letter-spacing: 5px;
  line-height: 90px;
}

.img_logo_surface {
  fill: #ffffff;
  width: 105px;
  height: 90px;
  margin-top: 25px;
  margin-left: 12px;
  /*margin-right: auto;*/


}
.img_logo {
  width: 135px;
  height: 135px;
  border-radius: 25px;
  margin: 0;
  margin-right: 35px;
}
.logo_app {
  fill: #ffffff;
  width: 50px;
  height: 50px;
}

.apple_download {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 1px;
}

.btn_app{
  width: 310px;
  height: 76px;
  border-radius: 38px;
}

.section_name {
 font-size: 80px;
}
.section_active_number {
  width: 132px;
  height: 132px;
  /*padding-top: calc(8.5% - 7px);
  padding-bottom: calc(8.5% - 1px);*/

  top: -35px;
  left: -66px;
}
.section_article_contact > .section_active_number {
  left: calc(100% - 66px);
}
.active_number {
  font-size: 24px;
}

.active_number::after {
   width: 28px;
}
.section_header {
  font-size: 60px;
  line-height: 60px;
}
.section_text {
  font-size: 24px;
  line-height: 28px;
}

.img_logo_surface {
  fill: #ffffff;
  width: 105px;
  height: 90px;
  margin-top: 25px;
  margin-left: 12px;
}
.img_logo {
  width: 135px;
  height: 135px;
  border-radius: 25px;
  margin: 0;
  margin-right: 35px;
}

.footer_header {
  font-size: 80px;
letter-spacing: 4px;
line-height: 80px;
margin: 0;
}

.footer_text {
 font-size: 30px;
line-height: 34px;
}
}



@media (min-width: 1700px) {

  .section_header {
  font-size: 80px;
  line-height: 60px;
}
.section_text {
  font-size: 24px;
  line-height: 28px;
}
.section_active_number {
  width: 168px;
  height: 155px;
  top: -45px;
  left: -84px;
}
.section_article_contact > .section_active_number {
  left: calc(100% - 84px);
}